header {
    height: 100px;
    width: auto;
    background-color: lightgray;
}
#tiny {
    height: 80px;
    width: 80px;
    background-color: rgb(80, 121, 233);
    margin: 10px;
}
.text {
    margin: 50px;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.color {
    height: 100px;
    width: auto;
}
#first {
    background-color: rgb(80, 121, 233);
}
#second {
    background-color: aqua;
}
#third {
    background-color: yellowgreen;
}
#fourth {
    background-color: yellow;
}